.content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    padding-top: 60px;
}

.content__outline{
    margin: 0px;
}

.link__products-register{
    text-decoration: none;
    padding: 5px 20px;
    background-color: #ffa82a;
    font-size: 16px;
}

.content__items{
    width: 90%;
    display: flex;
    margin: 20px auto;
}

.content__items--search{
    width: 20%;
}

.item--search-name__input{
    width: 90%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #dfdfde;
    border-radius: 20px;
    padding-left: 10px;
}

.item--search-name__submit{
    width: 90%;
    text-align: center;
    background-color: #f4c703;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
}

.item--search-price{
    width: 90%;
    padding-bottom: 20px;
    border-bottom:1px solid #dfdfde;
}
.item--search-price__tag{
    font-weight: bold;
}

.item--search-price__option{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #dfdfde;
    border-radius: 3px;
    appearance: none;
    padding-left: 10px;
}

.content__items--products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.link__products-detail{
    border: none;
    background-color: #fff;
    box-shadow: 3px;
}

.item--product-card{
    width: 32%;
    border: none;
    margin-bottom: 20px;
}

.product-card__img{
    width: 100%;
}

.product-card__cap{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.pagination__link{
    display: flex;
    justify-content: center;
}

.pagination{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}