.products-detail__content{
    width: 50%;
    margin: 0px auto;
    padding-top: 60px;
}

.products-detail__content-tag{
    color: #60affc;
}

.products-detail__form{
    width: 100%;
    margin-top: 10px;
}

.products-detail__form-inner{
    display: flex;
    justify-content: space-between;
}

.products-detail__form-items{
    width: 49%;
}

.products-detail__form-img{
    width: 100%;
}

.products-detail__form-input{
    width: 100%;
    height: 40px;
    border: 1px solid #dfdfde;
    margin:15px 0px;
    padding-left: 10px;
    border-radius: 3px;
}

.products-detail__form-textarea{
    width: 100%;
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px solid #dfdfde;
}

.products-detail__form-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
}

.products-detail__form--back {
    text-decoration: none;
    background-color: #dfdfde;
    padding: 5px 60px;
    margin-right: 20px;
    border-radius: 3px;
}

.products-detail__form--submit {
    background-color: #f4c703;
    padding: 5px 0px;
    border-radius: 3px;
    border: none;
    width: 20%;
}


.form__delete-submit{
    border: none;
}

