textarea::placeholder,
input::placeholder {
    color: #dfdfde;
}

.products-register__content{
    width: 50%;
    margin: 0px auto;
    padding-top: 60px;
}

.products-register__form-group{
    margin-top: 30px;
}

.products-register__form--required{
    color: #fff;
    background-color: #fb4d4b;
    padding: 5px 10px;
    border-radius: 3px;
}

.products-register__form--input{
    width: 100%;
    height: 40px;
    border: 1px solid #dfdfde;
    margin-top: 15px;
    padding-left: 10px;
}

.products-register__form--input-img{
    width: 100%;
    margin-top: 15px;
}

textarea{
    padding-top: 10px;
}

.products-register__form--button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0px;
}

.products-register__form--back{
    text-decoration: none;
    background-color: #dfdfde;
    padding: 5px 60px;
    margin-right: 20px;
    border-radius: 3px;
}

.products-register__form--submit{
    background-color: #f4c703;
    padding: 5px 60px;
    border-radius: 3px;
    border: none;
}